.svg-container {
    width: 100%;
    margin: auto;
}

.show {
    max-width: 1170px;
    margin: auto;
}

.active {
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 30px;
    transition: 0.3s linear;
    z-index: 0;
    background-color: #16151a5b;
    backdrop-filter: blur(30px);
}

.hidden{
    height: 4rem;
    width: 100%;
    position: fixed;
    top: -90px;
    transition: 0.3s linear;
}

.svg-left {
    height: 800px;
    width: 800px;
    background-repeat: no-repeat;
    top:-600px;
    left: 0;
    background-position-x: -340px;
    background-size: contain;
    background-image: url('../images/Glow-1.svg');
    z-index: 1;
}

.svg-right {
    height: 700px;
    width: 700px;
    background-position-x: 300px;
    background-repeat: no-repeat;
    right: 0;
    top:-500px;
    background-size: contain;
    background-image: url('../images/Glow-2.svg');
    z-index: 1;
    
}

.logo-glow {
    top: -140px;
    left: -139px;
    background-size: cover;
    background-image: url('../images/Glow\ 3.svg');
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: -1;
}

.nav-list {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 24px;
    max-width: fit-content ;
    margin: auto;
}
.nav {
    color: var(--light-grey);
}

.nav-link-one {
    padding-right: 46px;
}
.nav-link-two {
    padding-right: 51px;
}
.nav-link-three {
    padding-left: 51px;
}
.nav-link-four {
    padding-left: 46px;
}

.divider-container {
    display: flex;
    margin-top: 26px;
}

.mobile-menu {
    display: none;
}


@media (max-width: 1024px) {
    .show {
        max-width: 600px;
    }
    .svg-left {
        height: 600px;
        width: 600px;
        top:-300px;
        background-position-x: -290px;
    }
    .divider-container {
        margin-top: 20px;
    }
    .divider-container img {
        width: 90%;
        margin: auto;
    }
    .svg-right {
        height: 500px;
        width: 500px;
        background-position-x: 240px;
        top:-270px; 
    }
   
    .active {
        position: unset;
        margin-top: 20px;
    }
    .nav-list {
        width: 100%;
        margin: auto;
        font-size: 22px;
    }
}

@media (max-width: 768px) {

    .active {
        position: static;
        padding-top: 10px;
        transition: none;
    }

    .hidden {
        display: none;
    }

    .svg-left {
        height: 550px;
        width: 550px;
        background-position-x: -260px;
    }
    
    .nav-container {
        width: fit-content;
    }
}


@media (max-width: 576px) {
    .svg-container, 
    .hidden, 
    .active {
        display: none;
    }
    .mobile-menu {
        width: 100%;
        display: flex;
        margin-top: 36px;
    }
    .mobile-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }
    .mobile-svg {
        background-image: url('../images/Glow\ 3.svg');
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: 0 -80px ;
        background-size: contain;
        top: -170px;
        left: 0; 
    }
    .mobile-icons {
        width: 40px;
        
    }
}

