.svg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1170px;
}

.active {
    width: 600px;
    position: fixed;
    top: 0;
    padding-top: 30px;
    transition: 0.3s linear;
    z-index: 5;
    background-color: #16151a5b;
    backdrop-filter: blur(5px);
      
}

.hidden{
    height: 4rem;
    width: 100%;
    position: fixed;
    top: -90px;
    transition: 0.3s linear;
}

.svg-left {
    height: 800px;
    width: 800px;
    background-repeat: no-repeat;
    top:-600px;
    left: 0;
    background-position-x: -340px;
    background-size: contain;
    background-image: url('../images/Glow-1.svg');
    z-index: 2;
}

.svg-right {
    height: 700px;
    width: 700px;
    background-position-x: 300px;
    background-repeat: no-repeat;
    right: 0;
    top:-500px;
    background-size: contain;
    background-image: url('../images/Glow-2.svg');
    z-index: 2; 
}

.logo-glow {
    top: -140px;
    left: -139px;
    background-size: cover;
    background-image: url('../images/Glow\ 3.svg');
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: -1;
}

.nav-list {
    font-weight: 300;
    font-size: 24px;
    max-width: fit-content ;
    margin: auto;
}
.nav {
    color: var(--light-grey);
}

.nav:hover {
    color: var(--pink);
    transition: all .2s ease-in;
}

.nav-link-one {
    padding-right: 46px;
}
.nav-link-two {
    padding-right: 51px;
}
.nav-link-three {
    padding-left: 51px;
}
.nav-link-four {
    padding-left: 46px;
}

.divider-container {
    display: flex;
    margin-top: 26px;
}

.mobile-menu,
.mobile-list-links {
    display: none;
}


@media (max-width: 1040px) {
    .svg-container {
        max-width: 600px;
    }
    .svg-left {
        height: 600px;
        width: 600px;
        top:-300px;
        background-position-x: -290px;
    }
    .divider-container {
        margin-top: 20px;
    }
    .divider-container img {
        width: 90%;
        margin: auto;
    }
    .svg-right {
        height: 500px;
        width: 500px;
        background-position-x: 240px;
        top:-270px; 
    }
   
    .active {
        position: static;
        margin-top: 20px;
        background-color: transparent;
    }

    .hidden {
        display: none;
    }
    .nav-list {
        width: 100%;
        margin: auto;
        font-size: 22px;
    }
}

@media (max-width: 768px) {

    .active {
        padding-top: 10px;
        transition: none;
    }

    .svg-left {
        height: 550px;
        width: 550px;
        background-position-x: -260px;
    }
    
    .nav-container {
        width: fit-content;
    }
}


@media (max-width: 576px) {
    .svg-container, 
    .hidden, 
    .active,
    .glow-images{
        display: none;
    }
    .mobile-menu {
        width: 100%;
        display: flex;
        margin-top: 36px;
    }

    .nav {
        color: var(--rosewood);
        text-decoration: none;
    }
    .mobile-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: auto;
    }
    .mobile-svg {
        background-image: url('../images/Glow\ 3.svg');
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: 0 -80px ;
        background-size: contain;
        top: -170px;
        left: 0; 
    }
    .mobile-icons {
        width: 40px;
    }
    .show-mobile-menu {
        background-color: var(--ash);
        width: 80%;
        height: 100vh;
        top: -35px;
        right: -39px;
        overflow-x: hidden;
        position: absolute;
        z-index: 2;
    }
    .mobile-list-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 50px;
    }
    .mobile-list-links li {
        font-size: 28px;
        padding-top: 20px; 
    }

    .mobile-link {
        text-decoration: none;
        display: none;
    }
    .hide-list-links {
        display: none;
    }

    .mobile-icon {
        background-image: url('../images/close.svg');
        width: 40px;
        height: 40px;
        margin-top: 45px;
        padding-inline: 30px;
        margin-left: 40px;
        background-repeat: no-repeat;
    }
}

