.signUp-form {
    height: 950px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.signUp {
    background-color: var(--elephant);
    height: fit-content;
    width: fit-content;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 23px 0  rgba(230, 215, 208, 0.1);
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
    position: relative;
}

.signUp-form-text {
    margin-top: -10px;
    font: 300 16px 'Raleway', sans-serif;
    color: var(--grey);
}

.form-section label {
    font-size: 14px;
    color: var(--silver);
}
.form-section input {
    border: 1px solid var(--ash);
    border-radius: 12px; 
    background-color: rgba(41, 41, 48, 0.362);
    padding: 5px 10px;
    color: var(--pink);
}
.form-section input::placeholder {
     padding-left: 10px;
     color: var(--ash);
     font-size: 14px;
}

.form-section input:focus {
    outline: none;
    color: var(--pink);
    background-color: var(--shadow);
    transition: all .2s ease-in;
    padding-left: 10px;
}

.form-titles {
    text-align: center;
}

.accept-rules {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;
}

.accept-box {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.accept-text {
    color: var(--silver);
    font-size: 12px;
}

.toggle-smm-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-smm-section div a {
    text-decoration: none;
    color: var(--rosewood);
}
.toggle-smm-land {
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.submit-button {
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.submit-button button {
    width: 100%;
    color: var(--rosewood);
    background-color: rgba(188, 137, 113, 0.1);
    border: 1px solid var(--rosewood);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-button:hover {
    color: var(--pink);
    background-color: rgba(180, 88, 60, 0.301);
    transition: all .2s ease-in;
    border-radius: 40px;
}

.err-msg,
.err-terms {
    color: var(--rosewood);
    font-size: 11px;
}

.err-terms {
    display: block;
    line-height: 6px;
}

.login-text {
    color: var(--grey);
    text-align: center;
    margin-top: 10px;
}

.login-link {
    display: inline;
    color: var(--rosewood);
    text-decoration: none;
}

.login-link:hover {
    color: var(--pink);
}

.eye-icon {
    position: absolute;
    cursor: pointer;
    top:26px;
    right: 15px;
    color: var(--grey);
}

@media (max-width: 576px) {
    .signUp-form {
        width: 300px;
        height: 800px;
    }
    .signUp {
        background-color: unset;
        padding: 30px unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .submit-button {
       margin-top: 20px;
    }
}