.testimonial-bg {
    background-image: url('../images/Section-BG.png');
    background-size: cover;
    width: 100%;
    height: 435px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    margin-top: 0;

}

.stars-bg {
    background-image: url('../images/Floating\ Elements.svg');
    width: 80%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 140px;
    top: -60px;
    height: 435px;
    background-position:  center center;
    z-index: -1;
}

.carousel-container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
   height: 230px;
}
.glow-area-four {
    background-image: url('../images/Glow\ 3.svg');
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -270px;
    left: 290px;
    background-position-x: center;
    z-index: 1; 
}

.carousel-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel-title-container h2 {
    font-weight: 300;
    font-size: 48px;
    color: var(--rosewood);
}

.carousel-title-container h2 span {
    color: var(--silver);
}

.carousel-title-container p {
    color: var(--cement);
    font-size: 16px;
    font-weight: 300px;
}

.carousel-sections {
    width: 1130px;
    height: 55%;
    margin: 60px auto;
    background-color: #262023 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-inline: 50px;
    border-radius: 44px;
}
.carousel-sec-one {
   width: 370px;
   height: 260px;
   margin-top: -37px;
}

.carousel .control-dots {
    margin: 0 !important;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
    opacity: 1 !important;
}

.carousel .control-dots .dot {
    border-radius: 0% !important;
    width: 22px !important;
    height: 3px !important;
    background:var(--rosewood) !important;
    margin: 68px 3px!important;
}

.carousel .control-prev.control-arrow:before {
    border-right: unset !important;
    background-image: url('../images/logo-Icon.png') !important;
    width: 40px !important;
    height: 40px !important;
    transform: rotate(180deg);
    background-repeat: no-repeat !important; }

.carousel .control-prev.control-arrow {
    left: -26px !important;
    top: -22px !important; } 

.carousel .control-next.control-arrow:before {
    border-left: unset !important;
    background-image: url('../images/logo-Icon.png') !important;
    width: 40px !important;
    height: 40px !important;
    background-repeat: no-repeat !important; }

.carousel .control-next.control-arrow {
    right: -26px !important;
    top: -22px !important; }
    .carousel.carousel-slider .control-arrow:hover {
        background: unset !important; }
.carousel-sec-two {
    text-align: left;
}
.carousel-sec-two h4 {
    padding-top: 30px;
    font-weight: 500;
    font-size: 24px;
    color: var(--silver);
}

.carousel-title {
    color: var(--title);
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
}

.crousel-paragraph {
    color: var(--cement);
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    padding-bottom: 40px;
}

/*responsive*/
@media (max-width: 1024px) {
    .carousel-sections {
        width: 900px;
        height: 180px;
    }
    .carousel-sec-one {
        width: 480px;
        margin-top: -50px;
        height: 225px;
    }
    .glow-area-four {
        left: 210px;  
    }
     .carousel .control-prev.control-arrow {
        left: -12px !important;
        top: 7px !important;
    } 
    .carousel .control-next.control-arrow {
        right: -12px !important;
        top: 7px !important;
    }
    .carousel .control-dots .dot {
        margin: 8px 3px!important;
    }
}

@media (max-width: 768px) {
    .carousel-sections {
        width: 600px;
        flex-direction: column;
        margin: 240px auto;
        height: 270px;
        
    }
    .stars-bg,
    .glow-area-four {
        display: none;
    }
    
    .carousel-sec-one {
        width: 200px;
        height: 200px;
        margin-top: -240px;
    }
     .carousel .control-prev.control-arrow {
        display: none !important;
    } 
    .carousel .control-next.control-arrow {
        display: none !important;
    }

    .carousel-title-container {
        margin-top: 186px;
    }

    .carousel-sec-two {
        text-align: center;
        align-items: unset;
    }
    .carousel .control-dots .dot {
        margin: 190px 3px!important;
    }
    .crousel-paragraph {
        width: 400px;
    }
    .carousel-title-container p {
        width: 500px;
        text-align: center;
    }
}
@media (max-width: 576px) {
    .carousel-sections {
        width: 500px;
    }
    
    .carousel-title-container {
       text-align: center;
    }
    .carousel-sec-one {
        width: 200px;
        height: 200px;
        margin-top: -240px;
    }

    .carousel .control-dots .dot {
        margin: 190px 3px!important;
    }
    .crousel-paragraph {
        width: unset;
    }
    .carousel-title-container p {
        width: 500px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 497px) {
    .carousel-sections {
        width: 330px;
        height: 350px;
    }

    .carousel .control-dots .dot {
        margin: 190px 3px!important;
    }
    .carousel-title-container {
        width: auto;
     }
    .carousel-title-container h2 {
        text-align: center;
    }
    .carousel-title-container p {
        width: 300px;
    }
   
}