* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #16151a;
}

:root {
  --rosewood: #bd8971;
  --pink: #ffb898;
  --silver: #e6e6e6;
  --cement: #b2b2b2;
  --grey: #808080;
  --light-grey: #a3a3a3;
  --elephant: #211f26;
  --ash: #3a393f;
}
